extends  ../../_part/_baseShell

block head
	title One
	include ../../_part/_header

block top
	include ../../_part/_top

block main
	p oh hi there

	script.
		function load() {

		}
		A.onLoaded(load)


block footer
	include ../../_part/_footer