extends  ../../_part/_baseShell

block head
	title One
	include ../../_part/_header

block top
	include ../../_part/_top

block main
	p oh hi there

	script.
		function load() {
			loadjs([
				'CSrv.js'
				], { success: function(){
					console.log('CSrv')
				}
			})
		}
		A.onLoaded(load)


block footer
	include ../../_part/_footer