footer#footer
	span.mui--pull-left 
		a(href='https://gitter.im/topseed-demos/Lobby', target='_blank') &nbsp; Forum 
	span.mui--pull-right
		a(href='https://github.com/topseed/topseed-demos', target='_blank') Kitchen Sink &nbsp;
	span.mui--clear-fix
