
nav#appbar.mui-container-fluid.mui--no-user-select
	table(width='100%')
		tr
			td
				a.navigation(href='#sidedrawer') ☰ &nbsp;
					span.mui--hidden-xs Nav Ex 
						span &trade;
			td.mui--text-right
				ul#menu.mui-list--inline
					li
						a(href='/page/one/') One
					li
						a(href='/page/two/') Two
					li &nbsp;

#sidedrawer.mui--no-user-select.mui--z5
	nav#sidenav
		a#sidedrawer-brand(href='#') ☰  &nbsp;
			span Nav Ex
				span &trade;
		.mui-divider

		ul.mui-list--unstyled#sidenavstrong
			li
				a(href='/page/one/') One
			li
				a(href='/page/two/') Two

