#appbar
	table(width='100%')
		tr
			td
				a(href='#sidedrawer')#brand &nbsp; ☰ &nbsp;
					span.mui--hidden-xs Nav Ex 
						span &trade;
			td.mui--text-right
				ul#menu.mui-list--inline
					li
						a(href='/page/one/') One
					li
						a(href='/page/two/') Two
					li &nbsp;

#sidedrawer
	p bla bla
